<h4>Commentaires récents</h4>
<div class="card_comment_wrapper">
    {% for comment in comments %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:black;">{{ comment.post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Pseudo: {{ comment.username }}</h6>
                <p class="card-text" style="color:black;">{{ comment.createdAt.format('Y-m-d H:i:s') }}</p>
            </div>
        </div>

    {% else %}
        <h5>Aucun commentaire</h5>
    {% endfor %}
</div>
