{% extends 'base.admin.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
    <h1>Nouvelle categorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
